body {
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    text-transform: lowercase;
    font-size: 5vw;
    text-align: justify;
}

a {
    color: white;
    text-decoration: underline;
}
