body {
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: lowercase;
  font-size: 5vw;
  text-align: left;
}

a {
  color: white;
  text-decoration: underline;
}

.right {
  float: right;
  text-align: right;
}

p::after {
  content: "";
  display: block;
  clear: both;
}
